body {
    margin-top: 0;
}
header {
    margin-left: 150px;
    background-color: #ffffff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color: #4aaaa5;
    padding: 25px;
    margin: 0;
    width:235px;
}
h2 {color: #4aaaa5;
    margin: 0;
    padding: 15px;
    border-bottom: solid 2px #dddddd;
}
#main-bio {
    background-color:#ffffff;
    border: solid 2px #dddddd;
    margin-left: 150px;
    padding: 10px;
}    
#bio-image {
    width: 192px;
    height: 256px;
    padding: 20px;
    float: left;
}
.container {
    width: 960px;
    height: auto;
}
p {  font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
#id {
    color:black;
    text-align: right;
}