header {
    background-color: #ffffff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px #cccccc;
}
h2 {color: #4aaaa5;
}
.main-bio {
    background-color:#ffffff;
}
